/* CSS Document */

/*注册样式*/
.register{ width:1000px; height:550px; margin:40px auto 40px auto; border:1px solid #dcdcdc;}

/*注册框样式*/
.reg_box{ width:708px;}
.reg_box h3{ height:93px; color:#797979; text-align:center; line-height:90px; font-size:16px; font-weight:bold;}
.reg_box p{ height:38px; margin-bottom:20px; line-height:38px;}
.reg_box p span{ width:186px; height:38px; display:block; text-align:right; color:#666; font-size:14px;}
.reg_box .reg_upload{ height:22px;}
.reg_box .reg_text{ width:225px; height:36px; line-height:36px; padding-left:15px; border:1px solid #c4c4c4;}
.reg_box .reg_pwd{ border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-bottom:1px solid #ebebeb; border-right:1px solid #ebebeb; width:200px; line-height:34px; height:34px; background:url(../images/user_icon.gif) no-repeat 0px -36px; padding-left:25px;}
.reg_box .reg_code{ width:142px; height:36px; padding-left:8px; line-height:36px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; font-size:14px; border-bottom:1px solid #ebebeb; border-right:1px solid #ebebeb;}
.reg_box .code_img{ padding-left:9px;}
.reg_box em{ padding-left:10px;}
.reg_box em i{ color:#c00;}
.reg_box h4{ padding-left:186px; height:30px; color:#555; font-size:12px; font-weight:normal;}
.reg_box h4 a{ color:#1190ae;}
.reg_box .login_submit{ border:0; background:#e6343c; width:200px; height:40px; color:#fff; text-align:center; line-height:40px; margin-left:187px;}
.reg_box h5{ margin-top:30px; margin-bottom:10px; font-size:12px; font-weight:normal; padding-left:40px;}

/*点击我登陆样式*/
.reg_login{ height:450px; border-left:1px dashed #e5e5e5; margin-top:50px;}
.reg_login h3{ padding:65px 0 0 77px; color:#111; font-size:16px; font-weight:bold; height:34px;}
.reg_login a{ display:block; width:137px; height:34px; text-align:center; line-height:34px; background:#a2a2a2; margin-left:53px; color:#fff;}
.reg_login a:hover{ background:#c00; text-decoration:none;}
.reg_login p{ margin-top:33px; padding-left:53px; color:#666;}







